---
layout: default
---

<div class="home">

  <section id="intro" class="intro">
     <div class="logo"></div>
     <article>
       <h2>
         Hello!
       </h2>
       <p>
         Welcome to English Creative Center.
         We are a multi-cultural powerhouse, located in the creative heart of Hanoi - Tay Ho District.
       </p>
       <p>
         <b>What:</b>
       </p>
       <p>
         We aim to bring you the best in <a href="#courses">creative education</a> courses and <a href="#creative">design services</a> at minimal cost and high standard.
       </p>
       <p>
         <b>How:</b>
       </p>
       <p>
         Our members come from all over the world, with a wealth of experience and ready to take  you from beginner to professional, in no time at all. We currently offer courses in Photography, DJing, Arts & Crafts, Fashion and Video Blogging as well as a range of professional design services.
       </p>

     </article>
  </section>
  <section class="whatwedo">
    <div class="fullwidth">
      <h1>What we do</h1>
      <h5 class="wow shake" data-wow-offset="200">BEGINNER COURSES & PROFFESIONAL DESIGN SERVICES</h5>
    </div>
  </section>

  {% for course in site.courses %}
    <section>
      <div class="image" style="background-image: url('assets/images/{{ course.image }}');">

      </div>
      <article>
        <h3>{{ course.title }}</h3>
        {{ course.content }}
        <a class="btn" href="#apply-form">Apply now</a>
      </article>
    </section>
  {% endfor %}

  <section id="creative" class="creative">

      <div class="image wow fadeInLeft" data-wow-offset="300" style="background-image: url('assets/images/creative.jpg')">
      </div>
      <article class="wow fadeInRight" data-wow-offset="300">
        <h5>CREATIVE  / Center</h5>
        <h2>Creative services</h2>
        <p>
          We are an international group of creative individuals,
          brought together by an experienced team of industry focused
          leads with strong backgrounds in project management and
          product design. We work around the clock to bring you high quality, cost-effective branding, experience and product design solutions on-demand.
        </p>
        <ul>
          <li>Project planning</li>
          <li>Identity design</li>
          <li>Editorial and multimedia</li>
          <li>Photography and digital content</li>
          <li>Web & mobile experiences</li>
        </ul>
        <a class="btn" href=""> Download profile </a>
      </article>
  </section>

  <section id="apply" class="apply" id="apply-form">
    <div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiNIjKKVdNQkrGpH8-4bsLcMw-rOWUQvkOcz_UOMMx-_xXjg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" src="" scrolling="no" >Loading...</iframe>
    </div>
  </section>

  <section class="spacer"></section>

  <section id="contact" class="contact">
    <div class="image" style="background-image: url('assets/images/map.jpg')">

    </div>
    <article>
      <h3>Contact us directly</h3>
      <ul>
        <li><span class="icon"></span> {{site.address}}</li>
        <li>&nbsp;</li>
        <li><span class="icon"></span> {{site.phone}}</li>
        <li><span class="icon"></span> {{site.email}}</li>
        <li>&nbsp;</li>
        <li>
          <a href="{{site.facebook}}">
          <span class="icon">
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd">
                    <g id="website" transform="translate(-554.000000, -4479.000000)" fill="#FFFFFF">
                        <g id="creative-services" transform="translate(0.000000, 2720.000000)">
                            <g id="Group-3">
                                <path d="M569.117,1759 L554.883,1759 C554.395,1759 554,1759.395 554,1759.883 L554,1774.117 C554,1774.605 554.395,1775 554.883,1775 L562.546,1775 L562.546,1768.804 L560.46,1768.804 L560.46,1766.39 L562.546,1766.39 L562.546,1764.607 C562.546,1762.541 563.808,1761.417 565.652,1761.417 C566.535,1761.417 567.294,1761.481 567.515,1761.511 L567.515,1763.671 L566.235,1763.671 C565.235,1763.671 565.04,1764.151 565.04,1764.851 L565.04,1766.391 L567.43,1766.391 L567.12,1768.811 L565.04,1768.811 L565.04,1775 L569.117,1775 C569.605,1775 570,1774.605 570,1774.117 L570,1759.883 C570,1759.395 569.605,1759 569.117,1759" id="Shape" fill="#ffffff"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </span>
          Facebook</a></li>

      </ul>
    </article>
  </section>

</div>
